GEMINI_API_KEY=
GEMINI_MODEL=-1.5-flash
TAVILY_SEARCH_KEY=

JWT_SECRET_KEY_API=
JWT_SECRET_KEY_WORKER=
JWT_ALGORITHM=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=-southeast-1
AWS_BUCKET=-documents
AWS_CLOUDFRONT_URL=
S3_MAX_UPLOAD_SIZE_MB=

CHROMA_HOST=
CHROMA_PORT=
CHROMA_COLLECTION=
CHROMA_SSL=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=

MONGODB_URI=
MONGODB_NAME=

RABBITMQ_URI=