PORT=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_CLOUDFRONT_URL=

JWT_SECRET_AUTH=
JWT_SECRET_SERVICE=

AI_SERVICE_URI=

# Optional Google OAuth settings
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_SCOPES=
